#zone {
    width: 100%;
}

#zone canvas {
    width: 1000px;
    height: 500px;
}

body {
    background-color: #000;
    /**background-image: -webkit-radial-gradient(600px 300px, circle, #778, #011 60%);
    background-image: -moz-radial-gradient(600px 300px, circle, #444, #000 60%);
    background-image: -o-radial-gradient(600px 300px, circle, #444, #000 60%);
    background-image: radial-gradient(600px 300px, circle, #444, #000 60%);**/
    color: #fff;
}

#win {
	width: 100%;
	height: 100%;
}

#wait {
    width: 100%;
    height: 100%;
}

#lose {
	width: 100%;
	height: 100%;
}

#win h1 {
	color: #FFFFFF;
}

#wait h1 {
    color: #FFFFFF;
}

#lose h1 {
	color: #FF0000;
}